{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}About Us{% endblock %}

{% block content %}
<h1>About World HR HUB</h1>
<p>
World HR Hub is the leading professional network for HR professionals worldwide. World HR Hub enables HR professionals across several countries to connect, share ideas, industry best practices, news and views. HR professionals from every country and industry use World HR Hub to connect for expert advice and leading influencer ideas.
As an HR professional, you can use World HR Hub to grow your global network, build your career, share inspiration, find jobs and even keep in touch with friends from the HR community. Membership in World HR Hub is free and secure. Users can manage their contacts, connect and engage with each other, post their ideas and share thoughts on the latest news and ideas.
Like the name suggests, world HR hub fosters conversations and stories between HR professionals and thought leaders in the HR space worldwide. Being a social medium, our members are our key strength. Users are encouraged to create their profiles, increase their professional exposure and showcase their skills and knowledge. The current version is (version #) of the world HR Hub framework. World HR hub also enables users to connect with their network for other platforms like Linkedin, Facebook and Twitter.
For any questions/clarifications and assistance, mail: admin@worldhrhub.com
</p>
{% endblock %}



