{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<!--for shortcut icon-->
<link rel="icon" href="#" type="image/x-icon" />
<link rel="shortcut icon" href="#" type="image/x-icon" />
<link rel="apple-touch-icon" href="#" />
<link href="/static/css/blog.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/js/script.js"></script>
<style>
	.pop-modal-box .headingExm h4{margin-top: -10px;color: #107caa;}
</style>
</head>
<body>
<div class="header">
<div class="outer">
<div class="logoleft">
	{% if user.is_authenticated %}
	<a href="{% url 'profile' pk=user.pk %}"><img src="/../static/images/hr-logo.png"></a>
	{% else %}
	<a href=""><img src="/../static/images/hr-logo.png"></a>
	{% endif %}
</div>
<div class="searchbox">
<input type="text" />
<i class="fa fa-search"></i>
</div>
<div class="rightsec">
	{% if user.is_authenticated %}

<div class="userpic">
	{% if user.profile.profile_image %}
<a href="{% url 'profile' pk=user.pk %}"><img src="{{user.profile.profile_image.url}}" /></a>
	{% else %}
	<a href="{% url 'profile' pk=user.pk %}"><img src="/../static/images/blankprofile.jpg"></a>
	{% endif %}
<div class="dropblock">
<ul class="dropdoen">
<li>
<a href="#">Edit</a>
</li>
<li class="last">
<a href="{%url 'logout' %}">Logout</a>
</li>
</ul>
</div>
</div>
<div class="icon">
<i class="fa fa-bell"></i>
<span class="popnot">5</span>
</div>
<div class="icon">
<i class="fa fa-envelope"></i>
<span class="popnot">5</span>
</div>
{% else %}
	<a href="{% url 'login'%}" class="btn">Login</a>
	{% endif%}
</div>
	<div class="clear"></div>


</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="body">
	{% block content %}
	{% endblock %}
<div class="clear"></div>

</div>
<div class="clear"></div>
<!--------Author Section Begin------->
	<div class="footer">
<div class="outer">
<div class="foot-left">
<div class="logo">
{% if user.is_authenticated %}
	<a href="{% url 'profile' pk=user.pk %}"><img src="/../static/images/hr-logo.png"></a>
	{% else %}
	<a href=""><img src="/../static/images/hr-logo.png"></a>
	{% endif %}
</div>


</div>
<div class="foot-mid">
<h3>Email Newsletter</h3>
<p>Subscribe to receive inspiration, news, and ideas in your inbox.</p>
<input type="text" placeholder="Enter your email address"/>
<a href="#" class="btn">SUBSCRIBE</a>
</div>
<div class="foot-right">
<a href="http://dscript.pythonanywhere.com/pages/about_us/"><h3>About Us</h3></a>
<ul>
<li><a href="#" class="link">Contact Us</a></li>
<li><a href="http://dscript.pythonanywhere.com/pages/terms_and_conditions/" class="link">Terms of Use</a></li>
<li><a href='http://dscript.pythonanywhere.com/pages/privacy/'class="link">Privacy Policy</a></li>
</ul>
</div>
<div class="foot-ban">
	<h3>Connect with us</h3>
	<ul>
<li class="facebook">
<a href="#"><i class="fa fa-facebook"></i></a>
</li>
<li class="twiter">
<a href="#"><i class="fa fa-twitter"></i></a>
</li>
</ul>
</div>
<div class="clear"></div>
<!--------Author Section End--------->

<!--<div id="popup1" class="pop-modal-box">
  <header class="headingExm"> <a href="#" class="js-modal-close close">×</a>
    <h4>Login Form</h4>
  </header>
  <div class="modal-body str">
 			<div class="popup-box">
                <form name="login" action="" method="post">
					{% csrf_token %}
                    <div class="row-block">
                        <input name="username" size="14" placeholder="Enter User id*" required="" type="text">
                    </div>
                    <div class="row-block">
                        <input name="password" size="14" placeholder="Enter Password*" required="" type="password">
                    </div>
                   <div class="row-block">
                   <button href="" class="log-btn" title="Signup Now">Signup Now</button>
                   </div>
                </form>
            </div>

  </div>

</div>-->




<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/static/js/script.js"></script>
<script>


$(function(){

var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

	$('a[data-modal-id]').click(function(e) {
		e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.7);
    //$(".js-modalbox").fadeIn(500);
		var modalBox = $(this).attr('data-modal-id');
		$('#'+modalBox).fadeIn($(this).data());
	});


$(".js-modal-close, .modal-overlay").click(function() {
    $(".pop-modal-box, .modal-overlay").fadeOut(500, function() {
        $(".modal-overlay").remove();
    });

});

$(window).resize(function() {
    $(".pop-modal-box").css({
        top: ($(window).height() - $(".pop-modal-box").outerHeight()) / 2,
        left: ($(window).width() - $(".pop-modal-box").outerWidth()) / 2
    });
});

$(window).resize();

});
</script>

</body>
</html>
