{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

<!--------Slide Section Begin--------->
<div class="outer">
<div class="feedpage">
<div class="left">
<div class="user-banner">
<div class="left">
{% if user.profile.profile_image %}
<img src="{{user.profile.profile_image.url}}">
				{% else %}
					<img src="/../static/images/author.jpg">
					{% endif %}
<p><b>{{user.first_name}}</b></p>
</div>
<div class="right">

<div class="nomb">
<span>0</span>
<p>Followers</p>
</div>
<div class="nomb">
	<span>8</span>
	<p>Following</p>
</div>
</div>
<div class="clear"></div>
<div class="navlinks">
<ul>
<li class="active">
<a href="{% url 'profile' pk=user.pk %}">Feeds</a>
</li>
<li>
<a href="{% url 'blog_published' pk=user.pk %}">Blogs Published</a>
</li>
</ul>
</div>
</div>

<div class="write-feed">
	<form method="POST" action="{% url 'smallpost' %}">
		{% csrf_token %}
        <textarea name="text" placeholder="What's on your mind?" ></textarea>
		<input type="submit" class="btn" value="Post">
	</form>
<a href="{%url 'post_new' %}" class="link">Write an article</a>

<div class="clear"></div>
</div>
<br /><br />
<h2>YOUR FEEDS</h2>
	{% for post in posts %}
<div class="feedlist">
<div class="feed-img">
<img src="{{post.image.url}}" />
<div class="feed-cat">{{post.category}}</div>
</div>
<div class="feeddesc">
<div class="feed-date">{{post.published_date}}</div>
<h3><a href="{% url 'post_detail' slug=post.slug pk=post.pk %}">{{post.title}}</a></h3>
<h5>POSTED BY <span>{{post.author.first_name}}</span> - {{post.author.profile.designation}}</h5>
<p>{{post.text|truncatewords:15}}</p>
<a href="{% url 'post_detail' slug=post.slug pk=post.pk %}" class="btn">Read More</a>
</div>
</div>
<div class="clear"></div>
{% endfor %}
</div>

<div class="right">

<div class="clear"></div>
<div class="pop-author">
<h4>Most Popular Authors</h4>
<ul>
	{% for user in alluser %}
<li>
<img src="{{user.profile.profile_image.url}}" />
<div class="pop-auth-desc">
<span class="design">{{user.profile.designation}}</span>
<div class="clear"></div>
	<a href="{% url 'account' pk=user.pk %}" class="link"><p class="name">{{user.first_name}}</p></a>
<div class="clear"></div>
<span class="no-post">{{user.post_set.count}} Post</span>
</div>
</li>
		{% endfor%}

</ul>


<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="categories">
<h4>Categories</h4>
<ul>
	{% for category in categories %}
<li><a href=''><p>{{category.category_name}}</p></a></li>
	{% endfor %}

</ul>
<div class="clear"></div>
</div>
<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
</div>


{% endblock %}