{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<!--<header>
<div class="outer">
		<div class="logo"><a href="#"><img src="images/logo.png"></a></div>
		<div class="my-profile">
		<div class="search-left">
			<ul>
			<form>
				<input data-val="true" data-val-length="" data-val-length-max="40" data-val-length-min="1"  name="Search" placeholder="Search here..." value="" type="text">
			</form>
				<li><a class="search" href="" title="Login"><i class="fa fa-search"></i></a></li>
			</ul>
		</div>

		<div class="search-right">
			<ul>
				<li><a class="request" href="" title="Login"><i class="fa fa-user"></i></a></li>
				<li><a class="profile" href="" title="profile"><i class="fa fa-envelope"></i></a></li>
				<li><a class="message" href="" title="Login"><i class="fa fa-bell"></i></a></li>
				<li><a class="notification" href="" title="My Profile">My Profile</a></li>
			</ul>
		</div>
		</div>
</div>
<div class="clear"></div>
</header>-->



<!--------post Section Begin------->
		<div class="outer">

<div class="user-maindesc">
				{% if post.author.profile.profile_image %}
<img src="{{post.author.profile.profile_image.url}}">
				{% else %}
					<img src="/../static/images/author.jpg">
					{% endif %}
<div class="maindesc">
<div class="title">
<a href="{%url 'account' pk=post.author.pk %}"><span class="name">{{post.author.first_name}}</span></a>
<a class="link" href="{%url 'follow' pk=post.author.pk %}">Follow</a>
<p>{{post.author.profile.designation}}, {{post.author.profile.organisation}}</p>
</div>
<p>Author of novels TOUCH and I AM HAVING SO MUCH FUN HERE WITHOUT YOU. Lover of caftans and intelligence. Product namer for MAC.</p>
<span class="date">Dec 13,2017</span>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>



<div class="post-page">
<div class="outer">
<div class="post-tile mentiontile">

	<h3>{{post.title}}</h3>
<div class="line"><span>{{post.created_date}}</span>.<span>3 Comments</span>.<span>1 Share</span></div>
<img src="{{post.image.url}}"/>
<div class="postmention ">

<p>{{post.text}}</p>

	<a href="">Like</a>
<p></p>
<div class="clear"></div>
</div>

</div>
<div class="clear"></div>
<div class="comment-section">
<h5><span>{{post.comments.all.count}}</span> Comments</h5><br/>
	{% for comment in post.comments.all %}
<div class="coment-list">
<img src="{{comment.name.profile.profile_image.url}}"/>
<div class="comment-text">
	<h6><span class="name"><a href="{% url 'account' pk=comment.name.pk %}">{{comment.name.first_name}}</a></span> <span class="date">{{comment.created}}</span></h6>
<p>{{comment.body}}</p>
</div>
<div class="clear"></div>
</div>
	{% endfor %}
<div class="clear"></div>
	<!-------------comment form--------------->
<div class="leave-comment">
<h5>Leave a Comment</h5>
	<form action="{% url 'comment' pk=post.pk %}" method="POST">
		{% csrf_token %}
<ul>
<li class="textar"><textarea name='body' placeholder="Your comment Here"></textarea></li>
</ul>
<button type="submit" class="btn">post comment</button>
		</form>

<div class="clear"></div>
</div>
</div>


</div>
</div>



</div>

{% endblock %}
