{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h1>WorldHRHub Privacy Policy</h1>
<p>
At world HR hub, you data and its privacy is of the highest important to us. This privacy policy statement elucidates how we handle information collected through word HR hub, it’s partners, social media platforms and other channels. This privacy policy is a component of our overall terms of use.

World HR hub does not encourage members to post or share any data related to another member without express approval prior to the post. However, world HR does not undertake the responsibility on the circumstances which it is unaware of, of having members publicly available information shared or posted with or without express approval.

In case you have any queries regarding the same, feel free to reach out to us at contact@wordhrhub.com

Information stored in world HR hub
•	user information-user information is collected at the time of the new users registration, and includes user ID, password, email address, and any other additional information that is provided by the user of their own free will.
•	Social network information-users can also register and login to world HR hub through different social media platforms like Facebook, Twitter and LinkedIn. By logging into your world HR hub account through social network platforms, you grant access to your user id and display picture for the respective social network platform. Note that we do not receive or share your passwords for your respective social media accounts.

Other information-word HR hub collects usage information off your profile based on your usage of the site. We collect information through cookies, beacons and other technologies for your browsing patterns and the pages that you view, to customize your profile type preferences according to your usage.
All intimate I all information collected through word HR hub and its associated networks are used only for customer service, internal references, user research, security and business of world HR hub and its affiliated websites.

</p>
{% endblock %}



