{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h1>WorldHRHub Privacy Policy</h1>
<p>
Terms and Conditions:
The website is governed by certain terms and conditions. Please read the following stipulated terms and conditions carefully before accessing the services, which is conditioned on the acknowledgment of and compliance with these agreements. These terms and conditions are applicable to all website visitors and users. Accordingly, if you are not in agreement with these terms and conditions or any part of these terms and conditions, you may not access this website.
Copyright and Trademarks:
The website content, graphics, design, organization, digital conversion magnetic translation, compilation, and other related matters are governed by stipulated copyrights, trademarks, registered trademarks, and other such proprietary rights. Its copying, publication, and redistribution are strictly prohibited. Under no legal authority, you are allowed ownership rights to any content or material you access. Except when expressly permitted, copyright and complete intellectual property rights for all content present on this website and appearing trademarks and logos are under the sole proprietorship of World HR Hub and are protected under various applicable laws.
Participation and Conduct:
The material available on the website is meant exclusively for personal and non-commercial use. Conclusively, all website material is allowed to be downloaded. This right doesn’t warrant, the right to transfer, lend, sub-license, assign, or re-sell the website material, the violation of which constitutes a breach of the subject matter of stipulated terms and conditions.
The content you publish on this website, through ways of participating in forums or message threads, must not, in any way,
Be defamatory, maliciously false, libelous, obscene, or indecent.
Be an infringement of the right of confidence, right under legislation of data protection legislation, and right of privacy.
Be an infringement of a third party’s copyright, design right, trademark right, or any other intellectual property right.
You shall be held solely responsible for all your posted content on the website.
Submissions:
World HR Hub reserves all rights to supervise any content published or posted in forums and comment section along with the modification or removal of any posted content as it deems fit, in its sole discretion, to be
Be defamatory, maliciously false, libelous, obscene, or indecent.
Be an infringement of right of confidence, right under legislation of data protection legislation, and right of privacy.
Be an infringement of a third party’s copyright, design right, trademark right, or any other intellectual property right.

All rights pertaining to editing or modification of submissions for feedback requests, Letters to the Editor, or any other comment lies with the website.
All ideas, suggestions, concepts, notes, or any other information received by us are deemed to be under our sole proprietorship.
Limited Right to Use:
Subject to the expressed provisions of stipulated terms and conditions, the website grants a non-exclusive and limited license for viewing, printing, and downloading of any kind of website material such as graphic, content, document, or form. All kind of content is solely meant for personal consumption and not authorized to be republished, distributed, assigned, sub-licensed, resold, used for derivate works preparation, or any other use. Other than for personal use, no part of form, document, or content is to be reproduced in any form or included in any mechanical, electronic, and information retrieval system. It’s our sole discretion to edit, modify, or delete any information, document, or any other content appearing on the website, with the inclusion of this agreement, without any further notice to the website users.
Account Creation:
Registration with world HR hub is a consequence of your agreement with the website on liabilities and stipulations of keeping your username and password safe and private. The log-in details are non-transferable. Impersonation, counterfeiting, and creation of multiple accounts are completely prohibited. All website services are accessible with a single registration.
Lapsed Accounts:
If an account remains unused for 6 months or more, World HR Hub holds sole discretion for termination of such accounts without explanation or notice. A failure to access account for more than 6 months, for any reason, allows World HR Hub, the termination rights.
Disclaimer:
The website content has no warranties, of any sort, for its timely, error-free, secure, or uninterrupted availability. The website does not warrant accuracy, validity, and reliability of any information provided, either expressed directly or implied indirectly. We do not warrant correction of defects or website and server(s) availability free of viruses and any other harmful components. Permitted to the maximum extent by the applicable law, all warranties and representations guaranteed by subject matter of stipulated terms and conditions, the website, and the website usage stay excluded.
Contact Information:
All kinds of request for any further information or reproduction permission of any content or a part of it must be directed to editor@worldhrhub.com


</p>
{% endblock %}



